nav{
  background-color: #373E44;
  height: 50px;
  }
  nav .dropdown {
    
    display: inline-block;
     margin-right: 10px;
     height: 50px;
  }
  
  .dropbtn {
    background-color: #373E44;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 50px;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #003171;
  }
 
  

 .floatRight{
   float:right;
   text-align: center;
   padding-top: 15px ;
   background-color: none;
   width: 150px; /*ความยาวปุ่มออกจากระบบ*/
 
 }
 

 

 